
@import "./_reset.scss";
@import "tailwindcss";



@theme {
  --color-beige: #DFB378;
  --color-beige-dark:  #bf8b46;
  --color-beige-light: #DFB3786B;
  --color-secondary: #d4af37;


   --font-thmanyah: "ThmanyahSerifDisplay", serif;
    --font-arial: Arial, Helvetica, sans-serif;
}